* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("./images/background.svg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

.app--main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #293264;
  height: 100%;
  width: 100%;
  padding: 15px 150px;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 25vmin;
}

.intro--header {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 0;
}

.intro--description {
  margin-top: 7px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.main-button {
  width: auto;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter';
  padding: 10px 40px;
}

.questions {
  display: flex;
  flex-direction: column;
}

.questions--container {
  border-bottom: solid #DBDEF0;
  padding: 15px 0px;
  width: 100%;
}

.questions--header {
  font-size: 30px;
}

.choice-button {
  padding: 10px 25px;
  margin: 12px 12px 12px 0px;
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #293264;
  border-radius: 12px;
  border: 1.5px solid #4D5B9E;
  background-color: transparent;
  /* background-color: #D6DBF5; */
  cursor: pointer;
}

.choice-button:hover {
  background-color: #D6DBF5;
}

.footer--check-button {
  margin: 25px 0px;
  padding: 15px 20px;
  font-size: 20px;
  width: auto;
  align-self: center;
  background: #4D5B9E;
  border-radius: 10px;
  outline: 0;
  border: 0;
  color: white;
  justify-self: center;
  cursor: pointer;
}

.footer--play-again {
  margin-left: 20px;
  padding: 15px 20px;
  font-size: 20px;
  width: auto;
  align-self: center;
  background: #4D5B9E;
  border-radius: 10px;
  outline: 0;
  border: 0;
  color: white;
  justify-self: center;
  cursor: pointer;
}

.end-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}